@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'IBM Plex Sans-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/IBMPlexSans-Medium.ttf') format('opentype');
}
